*~
*.svg
*.dot
*.fuse
*.hi
*.o
*.nope
*.goutputstream-*
**/__pycache__/**
__pycache__/
IGNORE/
temp_output/**
dist-newstyle/
gen_files/
**/nuXmv
moved/
examples/**/images/**
examples/**/haskell/**
examples/**/python/**
examples/**/smv/**
examples/**/ignore/**
examples/**/filled_obs/**
REPRODUCIBILITY/**/processed_data/**
REPRODUCIBILITY/**/results/**
REPRODUCIBILITY/**/smv/**
REPRODUCIBILITY/**/tree/**
REPRODUCIBILITY/**/xml/**
