*~
*.aux
*.log
*.tar
*.svg
*.dot
*.fuse
*.hi
*.o
*.nope
*.goutputstream-*
**/__pycache__/**
__pycache__/
IGNORE/
temp_output/**
dist-newstyle/
gen_files/
**/nuXmv
moved/
python_venv/
output/
examples/**/images/**
examples/**/haskell/**
examples/**/python/**
examples/**/smv/**
examples/**/ignore/**
examples/**/filled_obs/**
examples/**/tree/**
examples/**/processed_data/**
examples/**/results/**
examples/**/xml/**
examples/**/LaTeX/**
REPRODUCIBILITY/**/processed_data/**
REPRODUCIBILITY/**/results/**
REPRODUCIBILITY/**/smv/**
REPRODUCIBILITY/**/LaTeX/**
REPRODUCIBILITY/**/tree/**
REPRODUCIBILITY/**/xml/**
REPRODUCIBILITY/**/dense_fixed/**
REPRODUCIBILITY/**/sparse_random/**